@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    background: rgb(128, 128, 128,0.6);
}

/* Creating header */

header{
    width:  100%;
    height: auto;
    margin: auto;
    background-color: white;
}

header nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header nav h5{
    font-size: 20px;
}

header nav h5 span {
    color: orangered;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 3px 0px 3px 40px ;
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0,0,0,.7);
    transition: .3s linear;
    display: inline-block; /* used to apply the transform property*/
}

header nav ul li a:hover{
    color: black;
    transform: scale(1.1);
}

header nav ul li a i{
    margin-right: 3px;
}

header nav ul li:last-child i{
    font-size: 27px;
}

header nav ul li:last-child i:hover{
    color: orangered;
}

/* creating second header*/

header .brand-nav {
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
}

header .brand-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: .3s linear;
    padding: 0px 20px ;
}

header .brand-nav ul li {
    position: relative;
    transition: .3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .brand-nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(193,193,193,.5);
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brand-nav ul li a:hover{
    color: white;
}

header .brand-nav ul li i{
    margin-left: 6px;
    transition: .3s linear;
}

header .brand-nav ul li:nth-last-child(1) i{
    color: orangered;
    font-size: 18px;
    margin-right: 6px;
}

header .brand-nav ul li:nth-last-child(1) input{
    border: none;
    height: 25px;
    border-radius: 2px;

}

header .brand-nav ul li img {
    width: 70px;
    transition: .3s linear;
}

header .brand-nav ul li:nth-child(2){
    background: orangered;
    width: 130px;
}

header .brand-nav ul li:nth-child(1) .select_bx{
    position: absolute;
    top: 100%;
    width: 90px;
    height: 0px;
    background-color: orangered;
    padding: 10px ;
    border-radius: 5px;
    z-index: 9999999999999;
    box-shadow: 0px 0px 20px rgb(0,0,0,.5);
    overflow: hidden;
    transition: 1s linear;
    opacity: 0;
}

header .brand-nav ul li:nth-child(1) .select_bx h5{
    padding: 5px 0px ;
}

header .brand-nav ul li:nth-child(1) .select_bx_active{    /* javascript class */
    height: 100px;
    opacity: 1;
}

/* Creating header 3*/

header .brand-nav .list-box {
    width: 100%;
    height: auto;
    background: orangered;
    padding: 8px 0px;
}

header .brand-nav .list-box li{
    color: white;
    font-size: 14px;
    display: inline-block;
    transition: .3s linear;
}

header .brand-nav .list-box li:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 700;

}

/*Creating the main page */

section{
    width: 100%;
    height: auto;
    display: flex;
    margin: 34px auto 0px auto;
    background: white;
}

section  .shoes{
    width: 80%;

}

section aside {
    width: 20%;
}

section .shoes {
    padding: 0px 30px ;
}

section .shoes nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0,0,0,.1);
}

section .shoes nav h6 i{
    margin: 0px 3px ;
}

section .shoes nav h6  span {
    color: grey;
}

section .shoes section{
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 15px;
}

section .shoes section .title_sortby{
    width: 100%;
    height: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

section .shoes section .title_sortby h4 {
    font-weight: 600;

}

section .shoes section .title_sortby .select_shortby {
    position: relative;
}

section .shoes section .title_sortby .select_shortby button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px ;
    width: 150px ;
    border: 2px solid rgb(0,0,0,.1);
    border-radius: 2px;
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

section .shoes section .title_sortby .select_shortby button i{
    font-size: 10px;
    color: grey;
}

section .shoes section .title_sortby .select_shortby .sortby_opt{
    position: absolute;
    width: 150px;
    height: 0px;
    padding: 5px 10px 10px 10px ;
    background: white;
    border-radius: 5px ;
    text-align: center;
    overflow: hidden;
    transition: .3s linear;
    opacity: 0;
}

section .shoes section .title_sortby .select_shortby .sortby_opt li {
    list-style: none;
    padding: 5px 0px ;
    background: rgb(0,0,0,.1);
    margin-top: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s linear;
}

section .shoes section .title_sortby .select_shortby .sortby_opt li:hover{
    background: black;
    color: whitesmoke;
}

section .shoes section .title_sortby .select_shortby .sortby_opt_active{  /* javascript class */
    height: 150px;
    opacity: 1;
    z-index: 999999999;
} 

section .shoes .main_shoes_bx{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .shoes .main_shoes_bx .card {
    position: relative;
    width: 250px;
    height: 290px;
    /* border: 1px solid black; */
    margin: 5px 5px 25px 0px;
    text-decoration: none;
    transition: .3s linear;
    padding: 10px 10px ;
}

section .shoes .main_shoes_bx .card:hover{
    box-shadow: 0px 0px 20px rgb(0,0,0,.2);
    border-radius: 5px;
}

section .shoes .main_shoes_bx .card img {
    width: 100%;
    height: 180px;
}

section .shoes .main_shoes_bx .card  .title{
    font-size: 11px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

section .shoes .main_shoes_bx .card p {
    font-size: 11px;
    font-weight: 500;
    color: grey;
}

section .shoes .main_shoes_bx .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

section .shoes .main_shoes_bx .card .price h5 {
    font-size: 11px;
    color: black;

}

section .shoes .main_shoes_bx .card .price h5:nth-child(2){
    color: gray;
    font-size: 10px;
    font-weight: 300;
}

section .shoes .main_shoes_bx .card .color_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-top: 1px solid rgb(0,0,0,.1);
}

section .shoes .main_shoes_bx .card .color_tag h6 {
    font-size: 8.5px;
    margin-top: 3px;
    color: gray;
    font-weight: 500;
}

section .shoes .main_shoes_bx .card .color_tag h6:nth-child(2){
    color: orangered;
}

section .shoes  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

section .shoes  .pagination a{
    width: 20%;
    padding: 8px 0px;
    text-decoration: none;
    border: 1px solid rgb(0,0,0,.1);
    text-align: center;
    font-size: 12px;
    transition: .3s linear;
    width: 40px;
    border-radius: 40px;
}

section .shoes  .pagination a:hover {
    color: white;
    background: orangered;
    
}

section .shoes  .pagination h6{
    text-align: center;
    padding: 8px 0px ;
    color: orangered;
    margin: 10px 10px;
    font-weight: 800;
    font-size: 12px;
}

section aside{
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    margin-right: 25px ;
}

section aside .filter_bx {
    width: 300px;
    height: auto;
    background: rgb(0,0,0,.1);
    padding: 10px ;
}

section aside .filter_bx .filter {
    font-size: 16px;
    font-weight: 600;
}

section aside .filter_bx  .total_shoes{
    font-size: 12px;
    margin-top: 5px;
}




section aside .filter_bx .shoes_check {
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(0,0,0,.1);
    margin-top: 10px;
}

section aside .filter_bx .shoes_check .shoes_checked1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px ;
    margin: 10px 0px ;
    background: black;
    color: white;
}

section aside .filter_bx .shoes_check .shoes_checked1 h6 {
    font-size: 14px;
}

section aside .filter_bx .shoes_check .shoes_checked1 i{
    font-size: 20px;
}


section aside .filter_bx .shoes_check_off {    /* javascript class */
    background: none;
    color: black;
}

section aside .filter_bx .shoes_check li {
    width: 90%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
}

section aside .filter_bx .shoes_check li i {
    font-size: 20px;
    transition: .3s linear;
    cursor: pointer;
}

section aside .filter_bx .shoes_check li i:hover {
    color: orangered;
}

section aside .filter_bx .shoes_check li .i_active {   /*javascript class*/
    color: orangered;
}


section aside .filter_bx .shoes_check .input_price {
    position: relative;
    display: flex;
    align-items: center;
}

section aside .filter_bx .shoes_check .input_price::before {
    content: '';
    position: absolute;
    width: 88%;
    height: 3px;
    background: rgb(0,0,0,.2);
    top: 10px;
    left: 0;
}

section aside .filter_bx .shoes_check .input_price .input1 {
    position: relative;
    width: 44%;
}

section aside .filter_bx .shoes_check .input_price .input1 input {
    z-index: 99999999999999999999;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}

section aside .filter_bx .shoes_check .input_price .input1 i{
    position: absolute;
    top: 0px;
    left: 0%;
    transition: 1s linear;
}

section aside .filter_bx .shoes_check .input_price .input1:nth-child(2) i{
    left: 100%;
}

section aside .filter_bx .shoes_check .input_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

section aside .filter_bx .shoes_check .input_rate h6 {
    border: 1px solid rgb(0,0,0,.3);
    padding: 3px 12px ;
    color: rgb(0,0,0,.8);
}

section aside .filter_bx .shoes_check .color_bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section aside .filter_bx .shoes_check .color_bx h6{
    border: 4px solid white;
    padding: 7px;
    margin: 3px ;
    cursor: pointer;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(2){
    border: 4px solid #bdbdbe;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(3){
    border: 4px solid #efc229;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(4){
    border: 4px solid #cab43a;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(5){
    border: 4px solid #ff854e;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(6){
    border: 4px solid #40854e;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(7){
    border: 4px solid #5686b6;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(8){
    border: 4px solid #d93782;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(9){
    border: 4px solid #c04442;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(10){
    border: 4px solid #544b7a;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(11){
    border: 4px solid #7a7b7f;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(12){
    border: 4px solid #523d2a;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(13){
    border: 4px solid #000;
}

section aside .filter_bx .shoes_check .color_bx h6:nth-child(14){
    border-top: 3.3px solid yellow;
    border-right: 3.3px solid green;
    border-bottom: 3.3px solid pink;
    border-left: 3.3px solid orange;
}


section aside .filter_bx .shoes_check .size_bx {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section aside .filter_bx .shoes_check .size_bx h6 {
    border: 2px solid rgb(0,0,0,.7);
    color: rgb(0,0,0,.7);
    padding: 5px 7px ;
    margin: 5px;
    cursor: pointer;
}